<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<title><%= yield(:title) %> | Bootcamp Hogaru</title>
<p>Current time: <%= Time.now.ctime %> </p>

<h1> </h1>

<h1>Página principal</h1>
<div class="idc-box">
<p class="idc-titulo">Contenidos</p>
<ul class="idc-lista">
<li><%= link_to "Basics", "static_pages/basics" %></li>
</li>
<li><%= link_to "Ruby", "static_pages/ruby" %></li>
<li><%= link_to "Git", "static_pages/git" %></li>
</ul>
</div>
</html>
